footer img{
    position: absolute;
    right: 40px;
    top: 40px;
    width: 100px;
    height: 100px;
}
footer{
    position: relative;
    color: white;
    height: 300px;
    width: 100%;
    background: #252525;
/*    background: linear-gradient(to top,wheat,transparent);*/
}
.div-footer{
    font-family: sans-serif;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 80%;
    height: 250px;
}
footer .follow a{
    color: white;
    margin: 20px;
}
footer a{
    color: white;
}
footer p{
    display: inline-block;
    margin: 5px;
}
@media screen and (max-width: 500px){
    footer .follow a{
        margin: 5px;
    }
}
@media screen and (max-width: 400px){
    footer img{
        width: 60px;
        height: 60px;
    }
    .follow::after{
        margin-bottom: 10px;
    }
    footer{
        font-size: 14px;
    }
}
