nav{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 4em;
    word-break: keep-all;
    box-shadow: 0px 0px 10px 0px #3975;
    z-index:2;
    opacity: 0;
}

.header-nav *{
    text-decoration: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

nav .page-title h2{
    text-align: center;
    margin: 15px 0px 0px 0px;
    font-family: sans-serif;
}

.header-nav{
    display: inline;
    position: absolute;
    right: 0;
    margin-top: 1.5em;
    font-family: sans-serif;
}
/*More nav div*/
.more{
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 2em;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 350px){
    .page-title{
        float: left;
        margin-left: 20px;
    }
}

@media screen and (max-width: 900px) {
    .header-nav {
        display: none;
    }
    .more{
        display: inline-block;
    }
    nav{
        font-size: 0.8em;
    }
}
@media screen and (min-width: 900px){
    .more{
        display: 'none';
    }
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    font-family: monospace;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    cursor: pointer;
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}